<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>
</ion-content>



<!-- Navegación inferior -->
<div class="bottom-nav">
  <a href="javascript:void(0)" class="home-box" (click)="toggleRightBox()">
    <ion-icon [name]="showRightBox ? 'chevron-forward-outline' : 'chevron-back-outline'"></ion-icon>
  </a>

  <div class="right-box" [class.hidden]="!showRightBox" [class.visible]="showRightBox">
    <a href="javascript:void(0)" (click)="goHome()"><ion-icon name="home"></ion-icon></a>

    <a href="javascript:void(0)" (click)="goFavoritos()">
      <ion-icon name="heart-outline"></ion-icon>
    </a>

   <!-- Botón logout -->
    <a href="javascript:void(0)" (click)="backlogout()" role="button" tabindex="0">
      <ion-icon name="log-out-outline"></ion-icon>
    </a>
  </div>
</div>

   