<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label class="letras">Informacion personal</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="letras">Informacion de la cuenta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="letras">Articulos comprados</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="letras">Articulos vendidos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="letras">Cambio de contraseña</ion-label>
    </ion-item>

    <ion-item (click)="backlogout()">
        <ion-icon 
        name="log-out-outline"
        color="dark">
      </ion-icon>
      <ion-label class="letters">Cerrar Sesion</ion-label>
    </ion-item>

    <ion-item (click)="goAcercaDe()">
      <ion-icon name="information-circle-outline"></ion-icon><ion-label class="letters2">Acerca De</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- Navegación superior -->
<div class="bottom-nav">

    <a href="javascript:void(0)" class="home-box" (click)="goBack()" role="button" tabindex="0">
      <ion-icon name="arrow-back"></ion-icon>
    </a>
</div>
