<ion-content class="ion-padding">
  <div class="fondo-app">
  <!-- Aquí pon un poco de contenido real -->
<p class="letters">Lorem ipsum dolor sit amet, consectetur adipiscing elit, elit.</p>

  <!-- Tarjeta estilizada -->
  <ion-card class="custom-card">

    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  </ion-card>
    </div>
</ion-content>

<div class="bottom-nav">
  <a href="javascript:void(0)" class="home-box">
     <ion-icon name="chevron-back-outline"></ion-icon>
  </a>

  <div class="right-box">
    <a href="javascript:void(0)"><ion-icon name="search-outline"></ion-icon></a>
    <a href="javascript:void(0)"><ion-icon name="heart-outline"></ion-icon></a>
    <a href="javascript:void(0)"><ion-icon name="person-outline"></ion-icon></a>
  </div>
</div>


