<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="toolbar-class">
    <ion-title class="nav-class">MAPA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="map-container">
    <!-- Mapa -->
    <div id="map"></div>

    <!-- Botón de corazón sobre el mapa -->
    <ion-button fill="clear" class="heart-btn" (click)="toggleFavorito(products[0])" [disabled]="!products.length">
      <ion-icon 
        [name]="isFavorito(products[0]) ? 'heart' : 'heart-outline'" 
        color="danger">
      </ion-icon>
    </ion-button>
  </div>
</ion-content>



<!-- Navegación inferior -->
<div class="bottom-nav">
 
    <!-- Botón para ir a la página de crear publicaciones -->
    <a href="javascript:void(0)" class="crear-boton" (click)="goCrear()"><ion-icon name="add-circle-outline"></ion-icon></a>

  <a href="javascript:void(0)" class="home-box" (click)="toggleRightBox()"><ion-icon [name]="showRightBox ? 'caret-up' : 'caret-down'"></ion-icon></a>

  <div class="right-box" [class.hidden]="!showRightBox" [class.visible]="showRightBox">

    <a href="javascript:void(0)"><ion-icon name="search"></ion-icon></a>

    <a href="javascript:void(0)" (click)="goFavoritos()"><ion-icon name="heart"></ion-icon></a>

    <a href="javascript:void(0)" (click)="goPerfil()" role="button" tabindex="0"><ion-icon name="person"></ion-icon></a>

  </div>
</div>



<ion-footer class="footer-class">
  <ion-toolbar>
    <ion-title class="footer-title">Mapa</ion-title>
  </ion-toolbar>
</ion-footer>