<ion-content class="ion-padding">
  <!-- Aquí pon un poco de contenido real -->
  <h1 class="title">Hi, Sebastian..</h1>
  <p class="letters">Encuentra el producto que deseas comprar!</p>
</ion-content>


<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
  <img src="..." class="card-img-bottom" alt="...">
</div> 


<div class="bottom-nav">
  <a href="javascript:void(0)" class="home-box">
     <ion-icon name="chevron-back-outline"></ion-icon>
  </a>

  <div class="right-box">
    <a href="javascript:void(0)"><ion-icon name="search-outline"></ion-icon></a>
    <a href="javascript:void(0)"><ion-icon name="heart-outline"></ion-icon></a>
    <a href="javascript:void(0)"><ion-icon name="person-outline"></ion-icon></a>
  </div>
</div>


